@model QuizPerLessonCULQ
<div class="lesson-quiz-page">
    <form id="add-question-form" class="add-question-form" asp-controller="QuizPerLessonCULQ" asp-action="Edit">
        <div class="field">
            <label asp-for="@Model.Script">الفقرة</label>
            <textarea asp-for="@Model.Script"></textarea>
        </div>
        <div class="field">
            <label asp-for="@Model.QuestionTitle">السؤال</label>
            <textarea asp-for="@Model.QuestionTitle"></textarea>
        </div>
        <div class="field">
            <label asp-for="@Model.Answer1">أ</label>
            <textarea asp-for="@Model.Answer1"></textarea>
        </div>
        <div class="field">
            <label asp-for="@Model.Answer2">ب</label>
            <textarea asp-for="@Model.Answer2"></textarea>
        </div>
        <div class="field">
            <label asp-for="@Model.Answer3">ج</label>
            <textarea asp-for="@Model.Answer3"></textarea>
        </div>
        <div class="field">
            <label asp-for="@Model.Answer4">د</label>
            <textarea asp-for="@Model.Answer4"></textarea>
        </div>
        <div class="field">
            <label asp-for="@Model.Answer5">ه</label>
            <textarea asp-for="@Model.Answer5"></textarea>
        </div>
        <div class="field">
            <label asp-for="@Model.RightAnswer">الاجابة</label>
            <select asp-for="@Model.RightAnswer">
                <option value="أ">أ</option>
                <option value="ب">ب</option>
                <option value="ج">ج</option>
                <option value="د">د</option>
                <option value="ه">ه</option>
            </select>
        </div>
        <div class="field">
            <label asp-for="@Model.Minutes">دقيقة</label>
            <select asp-for="@Model.Minutes">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select>
        </div>
        <div class="field">
            <label asp-for="@Model.Seconds">ثانية</label>
            <select asp-for="@Model.Seconds">
                <option value="0">0</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
                <option value="55">55</option>
                <option value="59">59</option>
            </select>
        </div>
        <div class="field">
            <input asp-for="@Model.QuizPerLessonCategoryUnitLessonId" hidden class="display-none">
        </div>
        <div class="field">
            <input type="submit" value="حفظ">
        </div>
    </form>
</div>



